*{
    font-family: 'Poppins', sans-serif;
}

.session-status {
    border: 2px solid;
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 7px 21px rgba(0, 0, 0, 0.02);
    z-index: 9999;
    font-weight: 600;
}



.side-nav {

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    .nav {
        &-item {
            .active {
                color: $white !important;

                &:hover {
                    background: lightgray !important;
                    color: $white !important;
                }
            }
        }

        &-link {
            padding: 0.65rem 1rem;

            &:hover {
                background: lightgray !important;
            }
        }
    }

}

label{font-weight: 500; font-size: 1rem;}

// Font-Size
.fs-7{font-size: 14px;}
.fs-8{font-size: 12px;}

.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
.fw-900{font-weight: 900;}

.bg-white{
    background-color: $white !important;
}

table{
    th,td{
        vertical-align: middle;
        background-color: $white !important;
        font-size: .9rem;
    }

    .status{
        .pending{background: rgba(orange, 0.2);}
        .completed{background: rgba(green, 0.2);}
        .rejected{background: rgba(red, 0.2);}
        .in-progress{background: rgba(yellow, 0.2);;}
        .approved{background: rgba(pink, 0.2);;}

        div{width:fit-content; border-radius: .35rem;font-size: .9rem;}
    }
}


// code {
//     color: crimson;
//     background-color: #f1f1f1;
//     // font-size: 105%;
// }

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 1rem;
    color: crimson !important;
    border-radius: .5rem;
}


.text-black{
    color: #000 !important;
}